@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Or change to black or any preferred color */
  font-family: Arial, sans-serif;
}
#scripture {
  word-wrap: break-word;
  margin: 1rem;
  text-align: center;
}
